<div class="filter-bar">
    <div class="col-not-3">
      Sort Recipes by Age<br>
      <%=new_link%><br>
      <%=old_link%>
    </div><!--col-not-3-->
    <div class="col-not-3">
      Filter Recipes by Ingredient
      <%=render "filter_by_ingred"%>
    </div><!--col-not-3-->
    <div class="col-3">
      Sort Rated Recipes<br>
      <%=best_link%><br>
      <%=worst_link%>
    </div><!--col-3-->
  </div><!--filter-bar-->