<div class="recipes-index">
  
  <div class="filter-bar">
    <div class="col-not-4">
      Sort Recipesby Age<br>
      <%=link_to "Newest to Oldest", recipes_path(:sort => "new")%><br>
      <%=link_to "Oldest to Newest", recipes_path(:sort => "old")%>
    </div><!--col-not-4-->
    <div class="col-not-4">
      Filter Recipes by Ingredient
      <%= form_tag("/recipes", method: "get") do%>
        <%= select_tag "ingredient", options_from_collection_for_select(Ingredient.all, "id", "name"), include_blank: true%>
        <%= submit_tag "Filter"%>
      <%end%>
    </div><!--col-not-4-->
    <div class="col-not-4">
      Sort Recipes by Times Made<br>
      <%=link_to "Most to Least", recipes_path(:sort => "most")%><br>
      <%=link_to "Least to Most", recipes_path(:sort => "least")%>
    </div><!--col-not-4-->
    <div class="col-4">
      Sort Rated Recipes<br>
      <%=link_to "Best to Worst", recipes_path(:sort => "best")%><br>
      <%=link_to "Worst to Best", recipes_path(:sort => "worst")%>
    </div><!--col-4-->
  </div><!--filter-bar-->
  <div class="greeting">
    <h1>Recipes</h1>
  </div><!--greeting-->
  <div class="main">
    <ol>
      <%@recipes.each do |r|%>
        <li>
          <%=link_to r.name, recipe_path(r) %>
        </li>
      <%end%>
    </ol>
  </div><!--main-->
</div><!-- recipes-index -->