<div class="recipes-index">
  <div class="filter-bar">
    <div class="col-not-4">
      Sort Recipes by Age<br>
      <%=new_link%><br>
      <%=old_link%>
    </div><!--col-not-4-->
    <div class="col-not-4">
      Filter Recipes by Ingredient
      <%=render "filter_by_ingred"%>
    </div><!--col-not-4-->
    <div class="col-not-4">
      Sort Recipes by Times Made<br>
      <%=most_link%><br>
      <%=least_link%>
    </div><!--col-not-4-->
    <div class="col-4">
      Sort Rated Recipes<br>
      <%=best_link%><br>
      <%=worst_link%>
    </div><!--col-4-->
  </div><!--filter-bar-->
  
  <h1 class="body-title">Recipes</h1>
  <%=render "display_recipes", recipes: @recipes%>
  
</div><!-- recipes-index -->