<div id="recipe-show" data-id="<%=@recipe.id%>">

</div><!--recipe-show-->

<div id="recipe-makings" class="block instructions">
  <h3>Times Users Made <%=@recipe.name%></h3>
  <ul>
    <%@recipe.makings.each do |m|%>
      <li>
        Rating:  <%=m.rating%> stars <br>
        Notes: <%=m.notes%>
      </li>
    <%end%>
  </ul>
</div>

<div id="recipe-making-form">
  <h3>Did you make <%=@recipe.name%>? How did it go?</h3>
  <%=form_for([@user, @making])do |f|%>
    <%= f.hidden_field :recipe_id, :value => @recipe.id %>
    <%= f.label :rating%>
    <%= f.number_field :rating, class: "form_fields"%>
    <%= f.label :notes%>
    <%= f.text_field :notes, class: "form_fields"%>
    <br>
    <br>
    <br>
    <br>
  <%=f.submit :class => "submit_class"%>
<%end%> 

</div>
