<div id="recipe-show" data-id="<%=@recipe.id%>">
  <div id="recipe-details">
  </div><!--recipe-details-->
 
 <div class="block instructions">
    <h3>Times Users Made <%=@recipe.name%></h3>
    <div id="recipe-makings" >
      <ul>
        
      </ul>
    </div>
  </div>

  <div class="block instructions">
    <h3>Did you make <%=@recipe.name%>? How did it go?</h3>
    <div id="recipe-making-form">
      <%=form_for([@user, @making], :html => { :id => "new_making_of_recipe" })do |f|%>       
        <%= f.hidden_field :recipe_id, :value => @recipe.id %>  
        <%= f.label :rating%> 
        <%= f.number_field :rating, class: "form_fields"%>  
        <%= f.label :notes%>  
        <%= f.text_field :notes, class: "form_fields"%> 
        <br>  
        <br>  
        <br>  
        <br>  
        <%=f.submit :class => "submit_class"%>  
      <%end%>
    </div>
  </div>

</div><!--recipe-show-->
