<div class="recipe-show">
  <h1><%=@recipe.name%>'s Page</h1>

  <h3>Ingredients:</h3>
  <div class="ingred-list">
    <% @recipe.amounts.each do |amnt|%>
      <%= amnt.ingred_for_display%><br>
      <br>
    <%end%>
  </div><!--ingred-ist-->

  <h3>Instructions</h3>
  <div class="instructions">
    <p><%=@recipe.instructions%></p>
  </div><!--instructions-->

  <%=link_to "Edit", edit_recipe_path(@recipe) %>
    <br>
  <%=link_to "Delete", recipe_path(@recipe), method: :delete %>
</div><!--recipe-show-->