<h1><%=@recipe.name%>'s Page</h1>

<h3>Ingredients:</h3>
<% @recipe.amounts.each do |amnt|%>
  <%= amnt.ingredient.name%><br>
  Serving Size: <%="#{amnt.ingredient.serving_size_number} #{amnt.ingredient.serving_size_unit}"%><br>
  Servings per recipe: <%= amnt.servings_per_recipe%><br>
  <br>
<%end%>

<h3>Instructions</h3>
<p><%=@recipe.instructions%></p>

<%=link_to "Edit", edit_recipe_path(@recipe) %>
  <br>
<%=link_to "Delete", recipe_path(@recipe), method: :delete %>