<%= form_for(@ingredient) do |f| %>
  <% if f.object.errors.any? %>
    <% f.object.errors.full_messages.each do |message|%>
      <%= message %><br>
    <%end%>
    <br>
  <%end%>
  
  <%=f.label :name%>
  <%= f.text_field :name, class: "form_fields"%><br>
  <%= f.label :serving_size_number, "Serving Size"%>
  <div class="form_fields">
    <%= f.number_field :serving_size_number, placeholder: "number (e.g. 3)"%> <%= f.text_field :serving_size_unit, placeholder: "unit (e.g. cup)"%>
  </div><!--form-fields-->
  <br>
  <br>
  <%= f.submit :class => "submit_class" %>
<%end%>