<h1><%=@making.user.name%> made <%=@making.recipe.name%></h1>


  Rating:<%=@making.rating%> stars <br>
  Notes:<%=@making.notes%><br>

  <%=link_to "Edit", edit_making_path(@making) %>
  <br>
  <%=link_to "Delete", making_path(@making), method: :delete %>
