<!DOCTYPE html>
<html>
  <head>
    <title>MyRecipeBox2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <div class="logged-in-navbar">
        
        <div class="greeting">
          You're logged in as: <%=current_user.name %>
        </div><!--greeting-->
        
        <div class="title">
          <%= link_to 'My Recipe Box', '/' %>
        </div><!--title-->
          <div class="col-not-8">
            <%=link_to "Your Page", "/users/#{current_user.id}"%>
          </div><!--col-not-8-->
          <div class="col-not-8">
            <a href="/recipes">All Recipes</a>
          </div><!--col-not-8-->
          <div class="col-not-8">
            <%=link_to "Your Recipes", "/users/#{current_user.id}/recipes"%>
          </div><!--col-not-8-->
          <div class="col-not-8">
            <%=link_to "What You've Made", "/users/#{current_user.id}/makings"%>
          </div><!--col-not-8-->
          <div class="col-not-8">
            <a href="/recipes/new">Create A Recipe</a>
          </div><!--col-not-8-->
          <div class="col-not-8">
            <a href="/ingredients/new">Create an Ingredient</a>
          </div><!--col-not-8-->
          <div class="col-not-8">
            <%=link_to "Create A Making", "/users/#{current_user.id}/makings/new"%>
          </div><!--col-not-8-->
          <div class="col-8">
            <%=link_to "Log Out", '/signout', method: :delete %>
          </div><!--col-8-->
      </div><!--logged-in-navbar-->
    <% else %>
      <br>
    <%end%> 


    <% if flash[:message] %>
      <div id="alert"><%= flash[:message] %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
